<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright Text
    <a class="grey-text text-lighten-4 right" href="/">Home</a>
    </div>
  </div>
</footer>