<header>
  {{!-- if the user is logged in --}}
  {{#if loggedIn}}
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/profile">Profile</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <div class="logo left">
          <a href="/"><i class="material-icons">switch_video</i></a>
          <a href="/">Chit-Chat</a>
        </div>
        <!-- <ul class="right hide-on-med-and-down"> -->
        <ul class="right">
          <!-- <li><a href="sass.html">Sass</a></li> -->
          <!-- <li><a href="badges.html">Components</a></li> -->
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{username}}<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
  {{/if}}
  
  {{!-- if user is not logged in --}}
  {{#unless loggedIn}}
    <nav>
      <div class="nav-wrapper">
        <div class="logo left">
          <a href="/"><i class="material-icons">switch_video</i></a>
          <a href="/">Chit-Chat</a>
        </div>
        <ul class="right">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>
  {{/unless}}
</header>