<body>
  {{> nav}}
  <main>
    {{#if msg }}
    {{#if error}}
    <div class="feedback valign-wrapper custom-container error">
      <i class="tiny material-icons helper-icon">info_outline</i>
      <span class="valign-wrapper" data-error="wrong" data-success="right">{{ msg }}</span>
    </div>
    {{/if}}
    {{#unless error}}
    <div class="feedback valign-wrapper custom-container success">
      <i class="tiny material-icons helper-icon">info_outline</i>
      <span class="valign-wrapper" data-error="wrong" data-success="right">{{ msg }}</span>
    </div>
    {{/unless}}
    {{/if}}
    <h1 class="center-align">Upgrade Your Team's Productivity</h1>

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="/Assets/stockZoom.jpg">
          <div class="caption left-align">
            <h3>Secure</h3>
            <h5 class="navy-text text-lighten-3">Peer to Peer Chat with Unique Single Use Room Codes.</h5>
          </div>
        </li>
        <li>
          <img src="/Assets/stockComputerGuy.jpg">
          <div class="caption left-align">
            <h3>Free</h3>
            <h5 class="light grey-text text-lighten-3">Unlimited access for Registered Users.</h5>
          </div>
        </li>
        <li>
          <img src="/Assets/stockComputer.jpg">
          <div class="caption left-align">
            <h3 id="intText">Intuitive</h3>
            <h5 class="light grey-text text-lighten-3">Simple 3 Step User Interface</h5>
            <h5 class="light grey-text text-lighten-3">One. Creat a room.</h5>
            <h5 class="light grey-text text-lighten-3">Two. Share the confrence room number.</h5>
            <h5 class="light grey-text text-lighten-3">Three. Join the room & chat.</h5>
          </div>
        </li>

      </ul>
    </div>
    <div class="row">
      <div class="col s4 offset-s4 center-align">
        <form action="/" method="POST" id="joinForm">
          <input type="text" name="roomName" placeholder="Room Number">
          <input type="submit" value="Join Room" name="joinRoom">
        </form>
        <form action="/" method="POST" , id="createForm">
          <input type="submit" value="Create Room" name="createRoom">

        </form>
      </div>
    </div>
  </main>
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
  <script>
    $(document).ready(function () {
      $('.slider').slider();
    });
  </script>



  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dev Team</h5>
          <p class="grey-text text-lighten-4">Follow the adjacent links to learn more about our dev team. Please give us
            some love on social media.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Roster</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://wbrink.github.io/" target="_blank">Will Brink</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/DorianYoung" target="_blank">Dorian
                Young</a></li>
            <li><a class="grey-text text-lighten-3" href="https://aaron32365.github.io/Portfolio/" target="_blank">Aaron
                Williams</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://sheapa.github.io/portfolio/" target="_blank">Patrick
                Shea</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{> footer}}
  </footer>

</body>