
<h1>Homepage for website</h1>
{{ msg }}


<form action="/" method="POST" id="joinForm">
  <input type="text" name="roomName" placeholder="Room Number">
</form>


<form action="/" method="POST", id="createForm">
  <input type="submit" value="Create Room" name="createRoom">
</form>